
/* ---> CSS RESET */
/* the css reset below is taken from https://www.joshwcomeau.com/css/custom-css-reset/ */

:root{
    /* --col-light:rgba(41,51,92,.1); */
    --col-lighter:rgb(251, 251, 253);
    --col-light:rgba(215,216,255);
    --col-medium1:#5885af;
    --col-medium2:#41729f;
    --col-medium3:rgb(97, 109, 155);
    --col-dark:rgb(41,51,92);
}


*, *::before, *::after {
    margin: 0;
    padding:0;  
    box-sizing: border-box;
  }

html, body, .app {
height: 100vh;
/* to min width einai mono gia th diki mou othoni, gia */
/* ta ypoloipa prepei mallon na ftiajw media queries */
min-width:1200px;
min-height:700px;
}
/* img, picture, video, canvas, svg {
display: block;
max-width: 100%;
} */
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/* #root, #__next {
isolation: isolate;
} */
a{
    text-decoration: none;
}

.app{
    display:flex;
    flex-direction:column;
    border:3px solid darkorange;
    font-family:sans-serif;
    font-size:.9rem;
    color:var(--color-dark)
}

.topbar{
    display:flex;
    /* width:100%; */
    height: 10%;
    background-color:var(--col-light);
    justify-content: space-between;
    border:1px solid yellow;
}

.logo{
    /* width:8%;
    height:100%; */
    border:1px solid green;
}

.navbar{
    /* width:100%; */
    border:1px solid red;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display:inline-block;
    border:1px solid green;
}

.login{
    margin:auto 5%;
    border:1px solid blue;
}

.toolbar{
    display:flex;
    align-items: center;
    height:5%;
    background-color:var(--col-lighter);
    /* border:1px solid darkorange; */
}


.tool{
    height:100%;
    margin:.1rem .2rem .1rem .1rem;
    background-color:var(--color-light)
}

.toolbar:nth-child(2){
    margin-left:.5rem;
}

.toolbar img{
    height:100%;
}


.main-window{
    height:80%;
    width:100%;
    display:flex;
}

.modelling{
    border:1px solid darkorange;
    width:15%;
    background-color:var(--col-light);
}

.model-box{
    margin:.3rem .3rem 0 .3rem;
    border-radius:4px;
    border:1px solid var(--col-medium2);
    max-height:100%;
    overflow-y:scroll;
    overflow-x: hidden;
}


.form-title{
    display:flex;
    justify-content: space-between;
    position:relative;
    background-color:var(--col-dark);
    padding:.2rem .5rem;
    color:white;
    border:1px solid var(--col-light);
    border-radius:4px;
}

.form-subtitle{
    padding:2px .5rem;
    background-color:var(--col-medium3);
    border:1px solid var(--col-light);
    color:white;
    border-radius:4px;
}

.form-section{
    width:100%;
    padding:.2rem;
}

#nodes-form{
    margin-right:.3rem;
}

.form-section-top-buttons{
    display:flex;
    justify-content: space-around;
}

.form-section-top-buttons>label{
    margin-top:.4rem;
}

.node-top-buttons{
    width:40%;
    margin-right:.4rem;
}

#choose-node{
    margin-left:.2rem;
    width:3rem;
    height:30%;
    text-align:center;
}

.coordinates{
    display:flex;
    padding:.2rem;
}

.coordinates *{
    width:100%;
    margin: 0 .2rem;
}

.coordinates label{
    margin-left:.5rem;
    /* margin-bottom:.5rem; */
}

.form-load-inputs,
.form-displacements-inputs,
.form-supports-inputs,
.form-spring-inputs{
    display:flex;
}

.form-load-inputs-section,
.form-displacements-inputs-section,
.form-spring-inputs-section,
.form-supports-inputs-section{
    padding:.7rem;
    font-size:.8rem;
}


input{
    width:100%;
    text-align: right;
    
}

.input-check{
    width:fit-content;
    margin-left:.2rem;
    background-color:var(--col-dark);
    border:1px solid black;
}


.drop-arrow{
    background-image: url("arrowlight3.png");
    background-size: cover;
    border:1px solid var(--col-light);
    height:1rem;
    width:1rem;
    border-radius:2px;
    transform:rotate(90deg)
}

/* DYO ENALLAKTIKES GIA TO BTN-MODELLING: */

/* .btn-modelling{
    font-size:.9rem;
    padding:.1rem .5rem;
    line-height:1.5rem;
    text-align: center;
    border:1px solid black;
    border-radius:3px;
} */
.btn-modelling{
    display:inline-block;
    font-size:.9rem;
    padding:.1rem calc(width/10);
    margin:.1rem;
    text-align: center;
    border:1px solid var(--col-dark);
    color:var(--color-dark);
    background-color:var(--col-lighter);
    border-radius:3px;
}

#choose-node{
    display:inline-block;
    font-size:.9rem;
    padding:.1rem .5rem;
    margin:.2rem;
    text-align: center;
    border:1px solid var(--col-dark);
    color:var(--color-dark);
    background-color:var(--col-lighter);
    border-radius:3px;
}

.btn-modelling:hover{
    background-color:var(--col-dark);
    color:white;
}

.btn-modelling-multiple-nodes{
    width:5%;
    border:1px solid var(--col-dark);
    border-radius: 2px;
}

.line{
    display:inline-block;
    height:.5rem;
    width:60%;
    left:10%;
    border-bottom:1px solid rgb(106, 106, 175);
    margin-bottom:.5rem;
}

.canvas{
    border:1px solid darkorange;
    width:85%;
    background-color:var(--col-dark);
}

.footer{
    height:5%;
    border:1px solid blue;
    width:100%;
}


