/* ---> CSS RESET */
/* the css reset below is taken from https://www.joshwcomeau.com/css/custom-css-reset/ */

:root{
    --col-lighter:rgb(251, 251, 253);
    --col-light:rgba(215,216,255);
    --col-light2:rgb(200, 201, 252);
    --col-medium1:#5885af;
    --col-medium2:#41729f;
    --col-medium3:rgb(97, 109, 155);
    --col-dark:rgb(41,51,92);
}


*, *::before, *::after {
    margin: 0;
    padding:0;  
    box-sizing: border-box;
    
  }

/* html, body, .app, .main-window {
height: 100vh;
width:100vw;
} */

input, button, textarea, select {
font: inherit;
}

a{
    text-decoration: none;
}

.app{
    display:grid;
    grid-template-rows: 10vh 5vh 80vh 5vh;
    grid-template-columns: 20vw 80vw;
    font-family:sans-serif;
    font-size:.9rem;
}

.topbar{
    grid-area: 1/1/2/3;
    background-color:var(--col-light);
    outline:1px solid red;
}

.navbar{
    outline:1px solid red;
    
    display:flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}


.logolink{
    display:flex;
    height:100%;
    
}
.logolink div{
    color:rgb(20, 20, 122);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.logolink span:first-child{
    
    font-weight:700;
    font-size:x-large;
    margin-bottom: .2rem;
}


.logo{
    max-height:80%;
    display:block;
    margin:auto .5rem;
}


.navlinks{
    display:flex;
    padding-top:2rem;
    font-weight:500;
    font-size:large;
}

.navlinks ul{
    display:flex;
    list-style: none;
    
}

.navlinks li{
    margin: auto 3rem auto 0;
    padding:.5rem 1rem;
    border-radius: 3px;
    

}

.navlinks li:hover{
    margin: auto 3rem auto 0;
    background-color: #c5c5ff;
    
}

.load-button{
    margin:3rem 2rem .5rem .2rem;
    padding: .3rem 1rem;
    border-radius: 3px;
}


/* --------to toolbar einai to component me ta koumpia--------  */
.toolbar{
    display:flex;
    align-items: center;
    grid-area: 2/1/3/3;
    background-color:var(--col-lighter);
    /* border:1px solid darkorange; */
}

.tool{
    height:100%;
    margin:.1rem .2rem .1rem .1rem;
    background-color:var(--color-light)
}

.toolbar:nth-child(2){
    margin-left:.5rem;
}
/* ----------telos toolbar----------- */



/* .main-window{
    display:flex;
} */

.modelling{
    outline:1px solid red;
    grid-area: 3/1/4/2;
    background-color:var(--col-light);
}

.model-box{
    margin:.3rem .3rem 0 .3rem;
    border-radius:4px;
    transition:opacity 1s ease-in;
}

.canvas{
    outline:3px solid darkorange;
    grid-area: 3/2/4/3;
    background-color:var(--col-dark);
    overflow:hidden;
}

.footer{
    grid-area: 4/1/5/3;
    outline:1px solid blue;
    width:100%;
}
.form-title{
    display:flex;
    justify-content: space-between;
    position:relative;
    background-color:var(--col-dark);
    padding:.2rem .5rem;
    color:white;
    /* border:1px solid var(--col-light); */
    border-radius:4px;
}

.form-subtitle{
    padding:2px .5rem;
    background-color:var(--col-medium3);
    /* border:1px solid var(--col-light); */
    color:white;
    border-radius:4px;
}

.form-section{
    width:100%;
    padding:.2rem;
}

#nodes-form{
    margin-right:.3rem;
}

.form-section-top-buttons{
    display:flex;
    justify-content: space-around;
}

.form-section-top-buttons>label{
    margin-top:.4rem;
}

.node-top-buttons{
    width:40%;
    margin-right:.4rem;
}

#choose-node{
    margin-left:.2rem;
    width:3rem;
    height:30%;
    text-align:center;
}

.coordinates{
    display:flex;
}
.coordinates>div{
    /* border-left:2px solid var(--col-medium1); */
    background-color:var(--col-light);
}
.coordinates>div:hover{
    background-color:var(--col-medium1);
}

.coordinates input{
    width:80%;
    margin-left:.5rem;
    margin-top:.3rem
}

.coordinates label{
    margin-left:.5rem;
    /* margin-bottom:.5rem; */
}

.form-load-inputs,
.form-displacements-inputs,
.form-supports-inputs,
.form-spring-inputs{
    display:flex;
}

.form-load-inputs-section,
.form-displacements-inputs-section,
.form-spring-inputs-section,
.form-supports-inputs-section{
    padding:.7rem;
    font-size:.8rem;
}