
/* ---> CSS RESET */
/* the css reset below is taken from https://www.joshwcomeau.com/css/custom-css-reset/ */

/* :root{
    --col-lighter:rgb(251, 251, 253);
    --col-light:rgba(215,216,255);
    --col-light2:rgb(200, 201, 252);
    --col-medium1:#5885af;
    --col-medium2:#41729f;
    --col-medium3:rgb(97, 109, 155);
    --col-dark:rgb(41,51,92);
} */
:root{
  --col-light1:rgb(234, 232, 252);
  --col-light2:rgb(184, 184, 197);
  --col-light3:rgb(144, 143, 155);
  --col-medium1:rgb(104, 104, 107);
  --col-medium2:rgb(73, 73, 73);
  --col-medium2rgba:rgba(73, 73, 73, .4);
  --col-medium3:rgb(49, 49, 49);
  --col-dark1:rgb(32, 32, 32);
  --col-dark2:rgb(21, 21, 22);
  --col-green:rgb(45, 104, 45);
  --col-red1:rgb(105, 41, 38);
  --col-red2:rgb(215, 97, 97);
  --col-orange: rgb(255, 168, 62);
}
/* *{
  outline: 1px solid red
} */

/* ----------     FOR ALL ELEMENTS ---------------------*/

*, *::before, *::after {
  margin: 0;
  padding:0;  
  box-sizing: border-box;
  font: inherit;
}


/* mono to layout */

.app{
  display:flex;
  flex-direction:column;
  max-height:100vh;
}

.topbar{
  /* flex:2 0 5rem; */
  height:8vh;
  background-color:var(--col-light2);
}

.main-window{
  display:flex;
  overflow:hidden
}

.footer{
  height:4vh;
  width:100%;
}

/* telos to layout */

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

a{
  text-decoration: none;
}

input,
select,
textarea{
  border:0;
  border-radius:3px;
  background-color:var(--col-medium2);
  color:var(--col-light2);
}

label{
  user-select: none;
  -moz-user-select: none;
}


.hover:hover{
  background-color:var(--col-medium1);
}

input[type="text"]{
  text-align: right;
  line-height: 1.6em;
  padding-right:.5em
}

input[type="text"]:focus-visible{
  outline:none;
}

.form::-webkit-scrollbar {
  width: 32px;
  outline:3px solid red
}
.form::-webkit-scrollbar-track {
  background: orange;
}

/* --------to topbar einai to component tou logo--------  */


.navbar{
  display:flex;
  justify-content: space-between;
  height:100%;
  font-family: "Roboto", sans-serif;
}

.logolink{
  display:flex;
  height:100%;
  
}
.logolink div{
  color:rgb(20, 20, 122);
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.logolink span:first-child{
  font-weight:700;
  font-size:x-large;
  margin-bottom: .2rem;
}


.logo{
  max-height:10px;
  margin:auto .5rem;
}


.navlinks{
  display:flex;
  padding-top:2rem;
  font-weight:500;
  font-size:large;
}

.navlinks ul{
  display:flex;
  list-style: none;
}

.navlinks li{
  margin: auto 3rem auto 0;
  padding:.5rem 1rem;
  border-radius: 3px;
}

.navlinks li:hover{
  margin: auto 3rem auto 0;
  background-color: #c5c5ff;
  
}

.load-button{
  margin:3rem 2rem .5rem .2rem;
  padding: .3rem 1rem;
  border-radius: 3px;
  background-color: bisque;
}

/* ----------telos topbar----------- */

/* --------to toolbar einai to component me ta koumpia--------  */
/* LOGIKA DEN THA TO EXW */

.toolbar{
  display:flex;
  height:5vh;
  background-color:var(--col-medium3);
  padding-left:2%;
  
}

.tool{
  height:100%;
  margin:.1rem .2rem 0 .1rem;
  background-color:var(--color-light2)
}


.form-title{
  display:flex;
  position:relative;
  background-color:var(--col-medium3);
  padding:.2rem .5rem;
  color:white;
  border-bottom:1px solid var(--color-light2)
}
/* ----------    end of TOOLBAR    ----------- */




/* ----------    TABS    ----------- */
.modelling{
  background-color:var(--col-medium3);
  color:var(--col-light2);
  width:20%;
  min-width:21em;
  max-height:100%;

}


.modelling ul{
  list-style-type: none;
  display:flex;
  
}

.modelling li{
  background-color:var(--col-medium2);
  padding:.3rem .5rem;
  font-size:1.05rem;
  border-right:1px solid var(--col-light3);
  border-radius:5px 5px 0 0;
  cursor:default
}

.modelling .active{
  background-color:var(--col-medium3);
}

/* ----------    end of TABS    ----------- */

/* ----------    DATA BOX    ----------- */

.model-box{
  margin:.3rem;
  padding:.2rem;
  border-radius:4px;
  transition:opacity 1s ease-in;
  max-height:95%;
  border-bottom:1px solid var(--col-medium2rgba);
  border-left:1px solid var(--col-medium2rgba);
  overflow-y:scroll;
  resize:horizontal
}

.form-section{
  margin-top:.5rem;
  width:100%;
  padding:.2rem;
  border:1px solid var(--col-medium2rgba);
  /* outline: 1px solid red; */
}

.form-subtitle{
  margin:.2rem 0 .5rem .3rem;
  background-color:var(--col-medium3);
  color:var(--col-light1);
  border-bottom:1px solid var(--col-medium2);
  letter-spacing: .05rem;
  width:80%
}



.node-inputs{
  display:flex;
}

.node-inputs-section{
  font-size:.8rem;
  border-left:1px solid var(--col-medium2rgba);
  padding-right:.3em
}

.node-inputs-section input{
  margin-bottom:.3rem;
  margin-left: .5rem;
}

/* mono gia top buttons */


.form-section-top-buttons{
  display:flex;
  justify-content: space-around;
}

.form-section-top-buttons>label{
  margin-top:.4rem;
}

.form-section-top-buttons>select{

  height:1.6em
}

.node-top-buttons{
  width:30%;
  margin-right:.4rem;
}
.node-top-buttons>input{
  display:block;
  width:100%;
  text-align: center;
  line-height:1.6em;
  margin:.2rem 0
}

#choose-node,
#choose-member{
  margin:.5rem 0 0 .1rem;
  width:3em;
  height:1.5em;
  text-align:center;
}

/* mono gia coordinates */

.coordinates{
  display:flex;
}

.coordinates>div{
  background-color:var(--col-medium3);
  border-radius: 3px;
  padding-bottom:.5rem;
  padding-left:.5rem
}
/* .coordinates>div:hover{
  background-color:var(--col-medium2rgba);
} */

.coordinates input{
  width:80%;
  margin-top:.3rem
}

.coordinates label{
  display:block;
  margin-left:.5rem;
}


/* mono gia supports section */

.is-support{
  padding:.5rem
}

.check-input{
  display:flex;
  align-items: center;
  padding:.6rem 0 .3rem 0
}

* input[type="checkbox"] + label{
  
  background-color:var(--col-medium2);
  padding:.2em .6em;
  border-radius:3px;
}

* input[type="checkbox"]:enabled + label:hover{
  background-color:var(--col-medium1);
}

* input:checked + label{
  
  background-color:var(--col-medium2);
  color:var(--col-red2)
}

input[type=checkbox]{
  visibility:hidden
}


.node-inputs input[type=checkbox]{
  visibility:visible;
  display: grid;
  place-content: center start;
  appearance:none;
  background-color: var(--col-medium2);
  font: inherit;
  color: var(--col-medium3);
  width: 2.3em;
  height: 1.2em;
  border: 0.01em solid var(--col-medium2rgba);
  border-radius: 3em;
  transform: translateY(-0.075em);
  margin:.1rem 0 0 .5rem
}

.node-inputs input[type=checkbox]:checked{
  place-content: center end;
  color: var(--col-medium3);
}

.node-inputs input[type=checkbox]::before{
  content:"";
  display: inline-block;
  visibility:visible;
  background-color: var(--col-medium3);
  font: inherit;
  color: var(--col-medium3);
  width: .8em;
  height: .8em;
  border-radius: 5em;
  transform: translate(-0.52em,-0.06em);
  transition: 120ms transform ease-in-out;
  margin:.1rem 0 0 .5rem
}

.node-inputs input[type=checkbox]:checked::before{
  background-color: var(--col-medium3);
  transform: translate(-0.08em,-0.06em);
  transition: 120ms transform ease-in-out;
}

/* ayta prepei na ta kanw na allazoyn sto hover mono an einai active */
input[type=checkbox]:enabled:hover{
  background-color:var(--col-medium1);
}


.form-section-supports label{
  width:100%;
  margin-left:.5em;
}

.is-support label{
  margin-left:-.8em;
}

/* mono gia displacements kai loads section */

.form-section-displacements label,
.form-section-loads label{
    display:block;
    margin:.6rem 0 .1rem .5rem;
}


/* mono gia submit button */
form>input[type="submit"]{
  margin:1rem;
  padding:.3rem 1.5rem;
  background-color: var(--col-orange);
  color:black
}

/* mono gia members */


#choose-member{
  margin:.5rem 0 0 .1rem;
  width:3rem;
  height:30%;
  text-align:center;
}

.form-members select{
  width:3rem
}
/* 
.form-members .coordinates label{
  margin-right:1rem
} */




/* ----------    end of DATA BOX    ----------- */


/* ----------    CANVAS    ----------- */


.tool-canvas{
    width:100%;
}



.canvas{
  /* width:100%; */
  background-color:var(--col-dark1);
  border-left:1px solid var(--col-medium2);
  overflow:scroll
}


  /* ----------    end of CANVAS    ----------- */


/* ----------    LEFT - RIGHT TOOLS    ----------- */

.left-tools,
.right-tools{
    height:100%;
    width:2%;
    border-left:1px solid var(--col-medium2);
    border-right:1px solid var(--col-medium2);
    background-color:var(--col-dark1);
    
}

/* ----------    end of LEFT - RIGHT TOOLS    ----------- */


/* ----------    FOOTER    ----------- */



/* ----------    end of FOOTER    ----------- */

